@model WebHost.Areas.UserAccount.Models.AddSecretQuestionInputModel

@using (Html.BeginForm("Add", "ChangeSecretQuestion"))
{
    @Html.ValidationSummary("Error")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Add Password Reset Secret</legend>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Question">Question</label>
                @Html.TextBoxFor(x => x.Question, new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.Question)
            </div>
            <div class="form-group">
                <label for="Answer">Answer</label>
                @Html.TextBoxFor(x => x.Answer, new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.Answer)
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Add Question/Answer</button>
            </div> 
        }
       @* @Html.EditorForModel()

        <div class="buttons">
            <button>Add Question/Answer</button>
        </div>*@
    </fieldset>
}
